body {
	background-image: url('https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?auto=format&fit=crop&w=2850&q=80');
	background-size: cover;
}

#content {
	text-align: center;
	padding-top: 10%;
}

#button {
	text-align: center;
}